<p id="notice"><%= notice %></p>

<p>
  <strong><%= @component.parent_type %>:</strong>
  <%= link_to @component.parent.name, @component.parent %>
</p>

<p>
  <strong><%= @component.content_type %>:</strong>
  <%= link_to @component.content.name, @component.content %>
</p>

<p>
  <strong>Order:</strong>
  <%= @component.order %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @component.repeat %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
