<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @routine.name %> <%= link_to 'Edit', edit_routine_path(@routine) %>
</p>

<ul>
	<% @components.each do |component| %>
		<li><%= link_to component.content.name, component.content %></li>
	<% end %>
	<li>+   
	  <input list="possible_components" name="new_component">
	  <datalist id="possible_components">
	    <% @poses.each do |pose| %>
		    <option value="<%= pose.english_name %>"> 
		<% end %>
	  </datalist>

	  
  	<input type="range" min="-1" max="1" value="0" class="slider" id="direction">
	
	  
	  <strong>setup time</strong> <input type="number" name="set_up" min="0" value="3" style="width: 3em"> seconds
	  <strong>pose time</strong> <input type="number" name="pose-time" min="0" value="30" style="width: 3em"> seconds
	  <strong>repeats</strong>
	  <input list="repetitions" name="repeat" size="9">
	  <datalist id="repetitions">
		    <option value="1 time"> 
		    <option value="2 times">
		    <option value="3 times"> 
		    <option value="4 times"> 
		    <option value="5 times"> 
		    <option value="6 times"> 
		    <option value="7 times"> 
		    <option value="8 times"> 
		    <option value="9 times"> 
		    <option value="10 times">  	
	  </datalist>
	</li>
</ul>

<h1 id="timer"></h1>
<progress value="0" max="25"></progress>

<script>
  	
  	//get all the steps
  	var $steps = [
  		<% @components.each do |component| %>
  			"<%= component.content.name %>",
  		<% end %>
  		];
  	var $transition = [
  		<% @components.each do |component| %>
  			<%= component.content.setup_time %>,
  		<% end %>
  		];
  	var $pose = [
  		<% @components.each do |component| %>
  			<%= component.content.pose_time %>,
  		<% end %>
  		];
  	
  	//for each step
  		//display the step name (and direction)
  		//count down the transition time
  		//count down the pose time
  	
  	var $count = 0; 			//total count of seconds
  	var $step_count = 0;		//which step are we on
  	var $transition_count = 0;	//how many seconds of transition are left
  	var $pose_time = 0;			//how many second in the pose are left
  	var $step_time = 0;
  	// Update the count every 1 second
	var $x = setInterval(function() {
		$count = $count + 1;
		
		if($pose_time == 0 && $transition_count == 0){
			$transition_count = $transition[$step_count];
			$pose_time = $pose[$step_count];
			$step_count = $step_count + 1;
			$step_time = 0;
			
			$total_step_time = $pose_time + $transition_count;
			//set progress max to pose_time+transition count
			$('progress').attr('max', $total_step_time);

		}
		
		
		$step_time = $step_time + 1;
		
		
		if($transition_count != 0){
			$transition_count = $transition_count - 1;
			//set color to transition color
		}else{
			$pose_time = $pose_time - 1;
			//set color to hold pose
		}
		
		
		if($step_count <= $steps.length){
			// Display the result in the element with id="timer"
	  		document.getElementById("timer").innerHTML = "Transition to " + $steps[$step_count - 1] 
	  			+ " in " + $transition_count + "s"
	  			+ " and hold for " + $pose_time + "s";
	  			
	  		$('progress').attr('value', $step_time);
	  		
	  		$percentage = Math.round (($step_time / $total_step_time) * 100);
		}else{
			document.getElementById("timer").innerHTML = "Congratulations You Finished the Routine!";
		}
	}, 1000);
	

</script>