<!DOCTYPE html>
<html>
  <head>
    <title>Yoga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p><%= link_to 'Steps', steps_path %> 
  	 	<%= link_to 'Poses', poses_path %> 
  	 	<%= link_to 'Routines', routines_path %>
  	  	 <%= link_to 'Components', components_path %></p>
    <%= yield %>
  </body>
</html>
